
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475203388'); /* IE9*/
  src: url('iconfont.eot?t=1475203388#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475203388') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475203388') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475203388#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-erweima:before { content: "\e608"; }
.icon-crmtubiao71:before { content: "\e609"; }
.icon-icon2-copy:before { content: "\e60a"; }
.icon-baozhangzhong:before { content: "\e60b"; }
.icon-qian:before { content: "\e60c"; }
.icon-shangbiaoxukuanzhan:before { content: "\e60d"; }
.icon-dengdai:before { content: "\e60e"; }
.icon-fz:before { content: "\e600"; }
.icon-liebiao:before { content: "\e601"; }
.icon-faxian:before { content: "\e602"; }
.icon-ren:before { content: "\e603"; }
.icon-aixin:before { content: "\e604"; }
.icon-san:before { content: "\e605"; }
.icon-xiangji:before { content: "\e606"; }
.icon-jiacai:before { content: "\e607"; }
