* {
  font-family: "Microsoft YaHei", sans-serif;
}

.color-33a1e7 {
  color: #33a1e7;
}

.color-f67a7d {
  color: #f67a7d;
}

.color-a0d97d {
  color: #a0d97d;
}

.color-6f849c {
  color: #6f849c;
}
